<% content_for :page_content do %>
<div class="col-sm-10 col-sm-offset-1">
	<h1 style="margin-left:-20px;padding-left:0;">Time Entries from Worksnaps</h1>
	
	<div class="row">
		<h3><div class="col-sm-6" style="margin-left:0;padding-left:0;">Project <small><%= @project['name'] %></small></div>
			<div class="col-sm-6">Assigned to <small><%= @user['first_name']%> <%= @user['last_name']%></small>
		</h3>
	</div>
	
</div>


<div class="col-sm-10 col-sm-offset-1" style="margin-top:40px;">
	<hr/>
	<h4 style="margin-left:-15px;padding-left:0;">Time Entries</h4>
	<div class="row">
		<table cellpadding="0" cellspacing="0" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Task</th>
					<th>Comment</th>
					<th class="text-center">From</th>
					<th class="text-center">To</th>
					<th class="text-center">Duration <small>(mins)</small></th>
					<th class="text-center">Type</th>
					<th class="text-center">Activity Level</th>
					<!-- <th>Action</th> -->
				</tr>
				
			</thead>
			<tbody>
				<% unless @time_entries.nil? %>
					<% @time_entries.each do |entry|%>
					<tr>
						<td><%= entry['task_name'] %></td>
						<td><%= entry['user_comment'] %></td>
						<td class="text-center"><%= Time.at(entry['from_timestamp'].to_i).strftime("%m/%d/%Y %H:%M") %></td>
						<td class="text-center"><%= (Time.at(entry['from_timestamp'].to_i) + (entry['duration_in_minutes'].to_i).minutes ).strftime("%m/%d/%Y %H:%M") %></td>
						<td class="text-center"><%= entry['duration_in_minutes'] %></td>
						<td class="text-center" class="td-<%= entry['type'] %>">
							<% if entry['type'] == 'offline' %>
								<span class="label label-default">
							<% else %>
								<span class="label label-success">
							<% end %>
							<%= (entry['type'] == "offline" ? "Offline Activity" : "Online Activity" ) %>
							</span>
						</td>
						<td class="text-center"><%= entry['activity_level'] %></td>
						<!-- <td>
							<a class="btn btn-info btn-xs" href="<#%= show_time_entry_path(:project_id => entry['project_id'], :time_entry_id => entry['id'])%>" class="showActivity" data-id="<%= entry['id' ]%>">Details</a>
						</td> -->
					</tr>
					<% end %>
				<% end %>
				
			</tbody>
		</table>
		<hr />
		<h5 class="pull-right"><strong>Total Time Worked : <span class="badge"><%= @total_mins.to_s %></span> mins</strong></h5>
		
		
	</div>
</div>
<% end %>
